COURSE_API_KEY=your_course_api_key_here
COURSE_BASE_URL=your_course_base_url_here
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=medium-articles
PINECONE_INDEX_HOST=your_pinecone_index_host_here
PINECONE_NAMESPACE=final